<%- include("./partials/header") %>
<div class="blog-post">
  <h2 class="blog-post-title"><%= objArticle.title%></h2>
  <p class="blog-post-meta"><%= objArticle.date%> by <a href="#">Hamza</a></p>
  <p><%= objArticle.body%></p>
  <button
    id="deleteBtn"
    class="btn btn-danger"
    data-linkid="<%= objArticle._id %>"
  >
    Delete The Article
  </button>
</div>
<!-- /.blog-post -->

<script>
    const articleId = document.getElementById("deleteBtn").getAttribute("data-linkid");
    deleteBtn.addEventListener("click",(e) => { 
        fetch(`/${articleId}`, {method:"DELETE"})
        .then((res) => response.json())
        .then((data) => console.log(data))
        .catch((err) =>console.log(err));
        })
    
</script>

<%- include("./partials/footer") %>
